In [39]:
import pandas as pd
import numpy  as np
from sklearn import tree
from sklearn import preprocessing

In [40]:
dataset=pd.read_csv("general_data.csv")
attrition.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [41]:
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [42]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [43]:
dataset.isna().sum().sum()

28

In [44]:
dataset.drop_duplicates()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [45]:
le = preprocessing.LabelEncoder()

In [46]:
dataset["Attrition"]= le.fit_transform(dataset["Attrition"])

In [47]:
dataset["BusinessTravel"]= le.fit_transform(dataset["BusinessTravel"])

In [48]:
dataset["Department"]= le.fit_transform(dataset["Department"])

In [49]:
dataset["EducationField"]= le.fit_transform(dataset["EducationField"])

In [50]:
dataset["Gender"]= le.fit_transform(dataset["Gender"])

In [51]:
dataset["MaritalStatus"]= le.fit_transform(dataset["MaritalStatus"])

In [52]:
dataset["JobRole"]= le.fit_transform(dataset["JobRole"])

In [53]:
dataset1 = dataset.drop(['EmployeeCount', 'EmployeeID','Over18','StandardHours'],axis=1)

In [54]:
dataset2=dataset1.dropna()

In [55]:
dataset2.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'Gender', 'JobLevel', 'JobRole',
       'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked',
       'PercentSalaryHike', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'YearsAtCompany', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

Pruning

In [56]:
from sklearn.ensemble import RandomForestClassifier
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [57]:
features=['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'Gender', 'JobLevel', 'JobRole',
       'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked',
       'PercentSalaryHike', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'YearsAtCompany', 'YearsSinceLastPromotion',
       'YearsWithCurrManager']

In [58]:
rf_model.fit(X=dataset2[features],y=dataset2['Attrition'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [59]:
print("OOB Accuracy",rf_model.oob_score_);

OOB Accuracy 1.0

In [60]:
for features,imp in zip(features,rf_model.feature_importances_):
    
    print(features,imp)

Age 0.09811058651105563
BusinessTravel 0.028079347970161102
Department 0.026226908591982293
DistanceFromHome 0.0697251535321059
Education 0.04099137514460448
EducationField 0.04131757488372111
Gender 0.018297287982199276
JobLevel 0.03768190292405706
JobRole 0.055477514084476084
MaritalStatus 0.038845204402356615
MonthlyIncome 0.09358561832119679
NumCompaniesWorked 0.05577967935544317
PercentSalaryHike 0.06562529014887986
StockOptionLevel 0.033986481793186724
TotalWorkingYears 0.08559477216993706
TrainingTimesLastYear 0.045561180275413456
YearsAtCompany 0.06804117597763823
YearsSinceLastPromotion 0.043428280070058105
YearsWithCurrManager 0.05364466586152721

Training

In [65]:
tree_model=tree.DecisionTreeClassifier()

In [74]:
predictors=pd.DataFrame([dataset2['TotalWorkingYears'],dataset2['Age'],dataset2['MonthlyIncome']]).T
tree_model=tree.DecisionTreeClassifier(max_depth=6,max_leaf_nodes=10)

In [75]:

tree_model.fit(X=predictors,y=dataset2['Attrition'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=10,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [76]:
with open("Dtree1.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=['TotalWorkingYears','Age','MonthlyIncome'],out_file=f);

INFERENCE(RULES)

> People with less than 1.5 years of working years and whose age falls below 33 with monthly income less than 112610rps show higher attrition rate.
>People with age greater than 23 and monthlly income less than or equal to 32530 rps tends to show high attrition rate.
>People whose working years are more and age greater than 33 are the experienced ones tends to show lesss attrition comparatively.