In [1]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing

In [2]:
loan_train=pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)

In [3]:
loan_train.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
loan_train.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [5]:
loan_train.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [6]:
dataset=loan_train.drop_duplicates()

In [7]:
dataset1=loan_train.drop(["ID","ZIP Code"],axis=1)

In [8]:
from sklearn.ensemble import RandomForestClassifier
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)
features=['Age', 'Experience', 'Income', 'Family', 'CCAvg','Education', 'Mortgage', 'Securities Account','CD Account', 'Online', 'CreditCard']
rf_model.fit(X=loan_train[features],y=loan_train['Personal Loan'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [9]:
print("OOB Accuracy",rf_model.oob_score_)

OOB Accuracy 0.988

In [10]:
for features,imp in zip(features,rf_model.feature_importances_):
    
    print(features,imp)

Age 0.04500805567926183
Experience 0.04422073286223213
Income 0.3506909660820618
Family 0.09479424387625872
CCAvg 0.18200975190130106
Education 0.1603071036856565
Mortgage 0.045043808597908436
Securities Account 0.005536121794073964
CD Account 0.054144945504755716
Online 0.00829464207831105
CreditCard 0.009949627938178761

In [19]:
# feature1=['Income','CCAvg','Education']
# rf_model.fit(X=loan_train[feature1],y=loan_train['Personal Loan'])
# print("OOB Accuracy",rf_model.oob_score_)

OOB Accuracy 0.9688

In [20]:
# for feature1,imp in zip(feature1,rf_model.feature_importances_):
    
#     print(feature1,imp)

Income 0.4022186438532054
CCAvg 0.2451176197805954
Education 0.3526637363661993

In [13]:
tree_model=tree.DecisionTreeClassifier()
tree_model=tree.DecisionTreeClassifier(max_depth=6,max_leaf_nodes=10)
predictors=pd.DataFrame([loan_train["Education"],loan_train["CCAvg"],loan_train["Income"]]).T
tree_model.fit(X=predictors,y=loan_train["Personal Loan"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=10,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [14]:
with open("Dtree2.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=["Education","CCAvg","Income"],out_file=f);

INFERENCES

>Out of 5000 records,4520 are the one's who has less possibility of getting the loan and 480 have some possibility of getting the loan
>The people whose income falls under 113$ and whose CCAvfg is less than 4.25 the possibiity of getting the loan is very low.
>The people whose education is <1.5 and their income is less than 92$ seems to have low possibility f getting the loan.
>The people whse income is less than 116$ and the CCAvg is les than 2.15 have posiibility of getting the loan.
>The people whose income is greater than 116$ and their CCAvg is greater thn 2.15 have higher possibility of getting th loan.